.profile-picture
{
    width: 150px;
    height: 150px;
    border-radius: 50px;
    background-color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('assets/car-icon.png');
}
.description-picture{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #000;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;   
}
.container{
    display: flex;
    justify-content: center;
    align-items: start;
}
.btn{
    outline: none;
}
.list
{
    padding-top: 30px;
    margin-left: 30px;
}
.sidebar
{
    padding-top: 100px ;
}
.listProp
{
    color: black;
    text-decoration: none;
}
.logoutBut
{
    padding-top: 230px;
    
}
.logoutBut a
{
    color: red;
    text-decoration: none;
    margin-left: 30px;
}
.carTable
{
    float: left;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
.desBox
{
    width: 30%; 
    float: left; 
    padding-left: 10px; 
    margin-left: 24px;
    margin-top: 70px;
}
.insBox
{
    border: 1px solid black; 
    border-radius: 20px;
    height: 500px;
    padding-top: 20px;
}
.butAd
{
    text-align: center;
    text-decoration: none;
}
.butAd p
{
    display: inline-block;
    margin: 0 30px !important;
    color: w;
}
.container
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.procEdit
{
    color: white;
    padding: 10px 55px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    background-color: black;
}
.procDel
{
    color: white;
    padding: 10px 55px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    background-color: red;
}
.procDel:hover
{
    background-color: transparent;
    color: black;
}
.procEdit:hover
{
    background-color: transparent;
    color: black;
}